body {
  margin: 0;
  background-color: #ffeedf;
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
}

.main-frame {
  height: 100vh;
}
.navbar {
  background-color: transparent;
  border-bottom: 1px solid #145434;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-icon {
  fill: #145434;
  margin: 10px;
  height: 30px;
  width: 30px;
}

#title {
  font-size: 30px;
  margin: 10px;
  padding: 0;
  color: #145434;
  font-weight: bold;
}

.all-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.beer-box {
  background-color: #145434;
  color: #ffeedf;
  position: relative;
  padding: 30px;
  margin: 30px;
  height: 250px;
  width: 400px;
}

.number-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: -15px;
  height: 32px;
  width: 32px;
  background-color: #ffeedf;
  color: #145434;
  font-size: 24px;
  border: 3px solid #145434;
  border-radius: 50%;
}

.beer-name {
  font-size: 30px;
}

.beer-manufacture {
  font-size: 18px;
}

.beer-type {
  font-size: 18px;
  font-weight: bold;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -15px;
  right: -15px;
  height: 40px;
  width: 200px;
  background-color: #ffeedf;
  color: #145434;
  font-size: 18px;
  font-weight: bolder;
  border: 3px solid #145434;
}

#arrow-icon {
  fill: #145434;
  height: 30px;
  width: 30px;
  position: absolute;
  margin-left: 150px;
}
